* {
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif;
}

body {
    background-image: url(../img/7.jpg);
    margin: 0 5%;
}


#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #666;
    border-radius: 1px;
    width: 100%;
    text-align: center;
    background-color: #666;
}

#navbar li {
    display: inline;
    border-left: 60px solid #666;
    border-bottom: 1px solid #666;
}

#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 120px;
}

#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #e67300
}


.link {
    margin-top: 30px;
    padding-bottom: 30px;
    clear: both;
}

.caption {
    text-align: center;
    margin-top: -10px;
}

img.leftfoto {
    float: right;
    margin: 2px 10px 2px 10px;
    width: 310px;
    height: 240px;
}

img.leftfoto2 {
    float: right;
    margin: 2px 10px 2px 10px;
    width: 400px;
    height: 255px;
}

img.rightfoto {
    float: left;
    margin: 5px 10px 5px 10px;
    width: 220px;
    height: 330px;
}

.right_col-text {
    padding: 30px;
    float: left;
}

.header,
.footer,
.right_col {
    border: 4px solid #C7C7AC;
}

.right_col {
    float: left;
}


.header {
    margin-bottom: 5px;
    margin-top: 10px;
}


.right_col {
    width: 100%;
}

.inside-header,
.inside-right_col {
    background: #ffffcc;
}

.inside-right_col_cust {
    word-wrap: break-word;
    min-height: 4000px;
    background: #ffffcc;
}

.inside-right_col {
    min-height: 1000px;
    word-wrap: break-word;
}


.inside-header {
    min-height: 100px;
    display: block;
}


.header-photo {
    width: 100%;
    height: 100px;
    background-image: url(../img/7.jpg);
    background-size: contain;
    background-repeat: repeat-x;
}

.header-caption {
    padding-left: 500px;
}

a, .header-link {
    text-decoration: none;
    color: black;
    display: block;
}

.up {
    margin-left: 50px;
    display: block;
    height: 25px;
    width: 30px;
}

.up:hover {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.9);
}

p {
    text-indent: 25px;
}

h2, h3 {
    text-align: center;
}

h4, h5 {
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    background: url(../img/31.jpg);

}

tr, td, th {
    border: 1px solid black;
    text-align: center;
}

th {
    border: 1px solid black;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: block;
}



