* {
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffe6, #363256);
    margin: 0 5% 0 5%;
}

.main {
    max-width: 700px;
    min-width: 400px;
    margin: auto;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #666;
    border-radius: 1px;
    width: 100%;
    text-align: center;
    background-color: #666;
}

#navbar li {
    display: inline;
    border-left: 60px solid #666;
    border-bottom: 1px solid #666;
}

#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 120px;
}

#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #e67300
}

.caption {
    text-align: center;
    margin-top: -10px;
}

.header,
.footer,
.center {
    border: 4px solid #C7C7AC;
}


.header {
    margin-bottom: 5px;
    margin-top: 10px;
}

.center {
    width: 100%;
}

.footer {
    margin-top: 10px;
}


.inner-header,
.inner-center,
.inner-footer {
    background: #ffffcc;
}

/*.inner-center {*/
/*    min-height: 750px;*/
/*    word-wrap: break-word;*/
/*    padding-top: 10px;*/
/*    background-image: url(../img/22.jpg);*/
/*}*/

.inner-header {
    min-height: 100px;
    display: block;
}


.inner-footer {
    height: 40px;
    text-align: center;
    padding-top: 5px;
}

/*.header-photo{*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background-image: url(../img/41.jpg);*/
/*    background-size: contain;*/
/*    background-repeat: repeat-x;*/
/*}*/

.header-caption {
    padding-left: 500px;
}

a, .header-link {
    display: block;
    text-decoration: none;
    color: black;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: block;
}

.form {
    border: 3px solid #6b9eae;
    width: 250px;
    margin-left: 40%;
    padding: 15px 20px;
    background: #ffffb3;
    word-wrap: break-word;
}

h2 {
    text-align: left;
    color: #ffbb33;

}


#form {
    height: 450px;
    width: 405px;
    margin: -150px 0 0 -230px;
    padding: 10px;
    position: absolute;
    top: 55%;
    left: 53%;

}

#form:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

}

/*fieldset {*/
/*    border: 0;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


#inputs input {
    background: #f1f1f1;
    padding: 10px 5px 5px 10px;
    margin: 0 0 15px 0;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
}

#actions {
    margin: 25px 0 0 0;
}

#submit {
    background-color: #ffb94b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 25px;
    padding: 0;
    width: 125px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover, #submit:focus {
    background-color: #ffbb33;

}

#submit:active {
    outline: none;

}

#submit {
    border: none;
}


